* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(135deg, #f7f7ff, #fff0f6);
    color: #333;
}
.buscar {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.buscar input:focus {
    border-color: #5b54d6;
}

nav{
    background-color: #D1B8FF;
    padding: 15px 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
}
nav ul{
    gap: 20px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: #6a5acd;
    font-weight: 600;
    transition: 0.3s;
}
nav a:hover {
    color: #0800bc;
}
.container {
    padding: 20px;
}
h1 {
    text-align: center;
    color: #6a5acd;
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 1px;
}
button {
    background: #003cff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
tbody tr:hover {
    background: #7f78ec;
}
td button {
    background: #a483f8;
    padding: 6px 10px;
    font-size: 12px;
}

td button:hover {
    background: #4336fd;
}
