body.log{
    background: linear-gradient(135deg, #789ef8, #01398f);
    margin:0;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: "Corben", serif;
    font-weight: 400;
    font-style: normal;
}
img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
    margin-bottom:15px;
}
.inicio{
    background-color: #D1B8FF;
    padding:30px;
    border-radius:12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width:500px;
    text-align: center;
}
.inicio input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid black;
    border-radius:8px;
}
.inicio button{
    width:100%;
    padding:12px;
    background:#1600AD;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    margin-bottom: 20px;
}
.inicio button:hover{
    background: #FFB01F;
    color:black;
}
.inicio h2{
    color:#1600AD;
    margin-bottom: 20px;
    font-size: 28px;
    letter-spacing: 3px;
}
.error{
    color: #a32d2d;
    background: #fcebeb;
    border-radius: 8px;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}