<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/password.css}">

</head>
<body>
<div class="cambio">
    <h2>CAMBIAR CONTRASEÑA</h2>
    <form action="/clientes/cambiar-password" method="post">
        <input type="hidden" name="origen" th:value="${origen}"/>
        <input type="hidden" name="clienteId" th:value="${clienteId}"/>
        <input type="text" name="username" placeholder="Usuario">
        <input type="password" name="nuevaPass" placeholder="Nueva Contraseña" required>
        <button type="submit">Cambiar Contraseña</button>
        <button type="button" class="cancelar"
                th:if="${origen == 'perfil'}"
                th:onclick="'window.location.href=\'/clientes/perfil/' + ${clienteId} + '\''">
            Cancelar
        </button>
        <button type="button" class="cancelar"
                th:if="${origen == 'admin' or origen == null}"
                onclick="window.location.href='/clientes/web'">
            Cancelar
        </button>
    </form>
</div>
</body>
</html>