<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">

</head>
<body class="container">

<nav>
    <ul>
        <li><a href="/clientes/web">Clientes </a></li>
        <li><a href="/provincias/web">Provincias </a></li>
        <li><a href="/gasolineras/web">Gasolineras</a></li>
        <li><a href ="/clientes/registros/">Ver Registros</a></li>
        <li class ="sesion"><a href="/login">Cerrar Sesión</a></li>
        <li class ="cambiar"><a href="/clientes/cambiar-password">Cambiar Contraseña</a></li>
    </ul>
</nav>
<a href="/clientes/nuevo">
<button type="submit">Crear cliente</button>
</a>
<br>
<div class="contenido">
    <h1 text align="center">LISTADO DE CLIENTES</h1>
    <div style="display:flex; justify-content: center; align-items:center; height:80px;">
    <input type="text" id="buscador" placeholder="Buscar..." style="padding: 6px;width:250px;">
    <script>
        document.getElementById("buscador").addEventListener("input", function () {
            let texto = this.value.toLowerCase();
            let filas = document.querySelectorAll("tbody tr");

            filas.forEach(fila => {
                let contenido = fila.textContent.toLowerCase();
                fila.style.display = contenido.includes(texto) ? "" : "none";
            });
        });
    </script>
    </div>

    <br><br>
    <div class="filtrar">
    <a th:href="@{/clientes/web}">
        <button>Ver Todos</button>
    </a>
    <a th:href="@{/clientes/web(soloActivos=true)}">
        <button>Ver Activos</button>
    </a>
    </div>
<table border="1" align="center">
    <thead>
    <tr>
        <th>ID CLIENTE</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>DNI</th>
        <th>Activo</th>
        <th>Gasolinera Asociada</th>
        <th>Rol</th>
        <th>Opciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${clientes}">
        <form th:action="@{/clientes/guardar}" method="post">

        <td>
            <input type="hidden" name="id" th:value="${c.clientId}" />
            <span th:text="${c.clientId}"></span>
        </td>
        <td>
        <span th:if="${editingId != c.clientId}"
              th:text="${c.name}"></span>

        <input th:if="${editingId == c.clientId}"
               type="text"
               name="name"
               th:value="${c.name}" />
        </td>

        <td>
            <span th:if="${editingId != c.clientId}" th:text="${c.surname}"></span>
            <input th:if="${editingId == c.clientId}"
                   type="text"
                   name="surname"
                   th:value="${c.surname}" />
        </td>

        <td>
            <span th:if="${editingId != c.clientId}" th:text="${c.username}"></span>
            <input th:if="${editingId == c.clientId}"
                   type="text"
                   name="username"
                   th:value="${c.username}" />
        </td>

            <td>
                <span th:if="${editingId != c.clientId}" th:text="${c.nif}"></span>
                <input th:if="${editingId == c.clientId}"
                       type="text"
                       name="nif"
                       th:value="${c.nif}" />
            </td>

            <td>
    <span th:if="${editingId != c.clientId}"
          th:text="${c.active ? 'Activo' : 'Inactivo'}">
    </span>

                <select name="active" th:if="${editingId == c.clientId}">
                    <option value="true" th:selected="${c.active}">Activo</option>
                    <option value="false" th:selected="${!c.active}">Inactivo</option>
                </select>
            </td>

            <td>
    <span th:if="${editingId != c.clientId}"
          th:text="${c.gasStation != null ? c.gasStation.name : 'Sin asignar'}">
    </span>

                <select th:if="${editingId == c.clientId}"
                        name="gasStationId">
                    <option value="">Sin asignar</option>
                    <option th:each="g : ${gasolineras}"
                            th:value="${g.gasStationId}"
                            th:text="${g.name}"
                            th:selected="${c.gasStation != null and c.gasStation.gasStationId == g.gasStationId}">
                    </option>
                </select>
            </td>

        <td th:text="${c.isAdmin ? 'ADMIN' : 'CLIENTE'}"></td>

            <!--OPCIONES -->
        <td>
            <div class="acciones">
                <div th:if="${editingId != c.clientId}" class="normal">
                    <a class="editar" th:href="@{/clientes/web(editingId=${c.clientId})}">Editar</a>
                    <a class="borrar" th:href="@{'/clientes/eliminar/' + ${c.clientId}}" onclick="return confirm('¿Seguro que quiere eliminar este cliente?')">Eliminar</a>

                    <a th:if="${!c.admin}" class="admin" th:href="@{'/clientes/admin/' + ${c.clientId}}"> Admin</a>
                    <a th:if="${c.admin}" class="noAdmin" th:href="@{'/clientes/quitar-admin/' + ${c.clientId}}">Quitar Admin</a>
                </div>
                <div th:if="${editingId != null and editingId == c.clientId}" class="edicion">
                    <button type="submit" class="guardar">Guardar</button>
                    <button type="button" class="cancelar" onclick="window.location.href='/clientes/web'">Cancelar</button>
            </div>
            </div>


        </form>
        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>