<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">

</head>
<body class="container">

<nav>
    <ul>
        <li><a href="/clientes/web">Clientes </a></li>
        <li><a href="/provincias/web">Provincias </a></li>
        <li><a href="/gasolineras/web">Gasolineras</a></li>
    </ul>
</nav>
<a href="/clientes/nuevo">
<button type="submit">Crear cliente</button>
</a>
<br><br>
<button type="submit">Asignar Gasolinera</button>
<button type="submit">Quitar Gasolinera</button>
<button type="submit">Asignar Admin</button>

<div class="contenido">
    <h1 text align="center">LISTADO DE CLIENTES</h1>
<input align="center" type="text" placeholder="Buscar...">
<br><br>
<table border="1" align="center">
    <thead>
    <tr>
        <th>ID CLIENTE</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>DNI</th>
        <th>Activo</th>
        <th>Gasolinera Asociada</th>
        <th>Rol</th>
        <th>Opciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${clientes}">
        <form th:action="@{/clientes/guardar}" method="post">

        <td>
            <input type="hidden" name="id" th:value="${c.clientId}" />
            <span th:text="${c.clientId}"></span>
        </td>
        <td>
        <span th:if="${editingId != c.clientId}"
              th:text="${c.name}"></span>

        <input th:if="${editingId == c.clientId}"
               type="text"
               name="name"
               th:value="${c.name}" />
        </td>

        <td>
            <span th:if="${editingId != c.clientId}" th:text="${c.surname}"></span>
            <input th:if="${editingId == c.clientId}"
                   type="text"
                   name="surname"
                   th:value="${c.surname}" />
        </td>

        <td>
            <span th:if="${editingId != c.clientId}" th:text="${c.username}"></span>
            <input th:if="${editingId == c.clientId}"
                   type="text"
                   name="username"
                   th:value="${c.username}" />
        </td>

            <td>
                <span th:if="${editingId != c.clientId}" th:text="${c.nif}"></span>
                <input th:if="${editingId == c.clientId}"
                       type="text"
                       name="nif"
                       th:value="${c.nif}" />
            </td>

            <td>
                <span th:if="${editingId != c.clientId}" th:text="${c.active}"></span>
                <input th:if="${editingId == c.clientId}"
                   type="text"
                   name="active"
                   th:value="${c.active}" />
        </td>

        <td th:text="${c.gasStation != null ? c.gasStation.name : 'Sin asignar'}"></td>
        <td th:text="${c.isAdmin ? 'ADMIN' : 'CLIENTE'}"></td>

            <!--OPCIONES -->
        <td>
            <a th:if="${editingId != c.clientId}"
               th:href="@{/clientes/web(editingId=${c.clientId})}">
                Editar
            </a>
            <a th:href="@{'/clientes/admin/' + ${c.clientId}}">
                Admin
            </a>
                <input type="hidden" name="id" th:value="${c.clientId}">
                <button type="submit" th:if="${editingId == c.clientId}">Guardar</button>
            <input type="hidden" name="id" th:value="${c.clientId}">
            <button type="submit" th:if="${editingId == c.clientId}">Cancelar</button>
        </form>
        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>