<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
    <link rel="stylesheet" th:href="@{/css/crearCuenta.css}">
</head>

<body>
<div class="inicio">
    <h2>CREAR CUENTA</h2>
    <img src="/img/logo.png" alt="logo">
    <form action="/clientes/crear-cuenta" method="post">
        <label>Nombre: </label>
        <input type="text" name="name"/>
        <label>Apellidos: </label>
        <input type="text" name="surname"/>
        <label>Usuario: </label>
        <input type="text" name="username"/>
        <label>DNI: </label>
        <input type="text" name="nif"/>
        <label>Contraseña: </label>
        <input type="password" name="pass"/>
    <button type="submit">Crear</button>
    <button type="button" class="cancelar" onclick="window.location.href='/login'">Cancelar</button>
    </form>
</div>
</body>
</html>