<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Iniciar Sesión</title>
</head>
<body class="log">
<div class="inicio">
    <h2>INICIAR SESIÓN</h2>
<form action="/clientes/login-web" method="post">
    <label>Usuario: </label>
    <input type="text" name="username"/>
    <br><br>
    <label>Contraseña: </label>
    <input type="password" name="pass"/>
    <br><br>
    <button type="submit">Iniciar Sesión</button>
</form>
</div>
</body>
</html>