<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Cliente</title>
</head>
<body>
<div class="registro">
     <h2>CREAR CLIENTE</h2>
      <form action="/clientes/guardar-web" method="post">
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="surname" placeholder="Apellidos">
        <input type="text" name="username" placeholder="Usuario">
        <input type="text" name="nif" placeholder="DNI">
        <input type="password" name="pass" placeholder="Contraseña">
       <button type="submit">Guardar</button>
</form>
</div>
</body>
</html>