<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Provincias</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>

<body class="container">
<nav>
    <ul>
        <li><a href="/clientes/web">Clientes </a></li>
        <li><a href="/provincias/web">Provincias </a></li>
        <li><a href="/gasolineras/web">Gasolineras</a></li>
    </ul>
</nav>
<a href="/provincias/nuevo">
    <button type="submit">Crear Provincia</button>
</a>
<br><br>
<div class="contenido">
    <h1 text align="center">LISTADO DE PROVINCIAS</h1>
    <div style="display:flex; justify-content: center; align-items:center; height:80px;">
        <input type="text" id="buscador" placeholder="Buscar..." style="padding: 6px;width:250px;">
        <script>
            document.getElementById("buscador").addEventListener("input", function () {
                let texto = this.value.toLowerCase();
                let filas = document.querySelectorAll("tbody tr");

                filas.forEach(fila => {
                    let contenido = fila.textContent.toLowerCase();
                    fila.style.display = contenido.includes(texto) ? "" : "none";
                });
            });
        </script>
    </div>
    <br><br>
    <table border="1" align="center">
        <thead>
        <tr>
            <th>ID Provincia</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${provincias}">
            <form th:action="@{/provincias/guardar}" method="post">
            <td>
               <span th:if="${editingId != p.provinceId}"
                     th:text="${p.provinceId}"></span>
                <input th:if="${editingId == p.provinceId}"
                       type="text"
                       name="provinceId"
                       th:value="${p.provinceId}">
            </td>

            <td>
                <span th:if="${editingId != p.provinceId}"
                      th:text="${p.name}">
                </span>
                <input th:if="${editingId == p.provinceId}"
                        type="text"
                       name="name"
                       th:value="${p.name}">
            </td>
            <td>
                <span th:if="${editingId != p.provinceId}"
                      th:text="${p.creationDate}"></span>
                <input th:if="${editingId == p.provinceId}"
                        type="text"
                        name="creationDate"
                        th:value="${p.creationDate}">
            </td>

            <!-- Oopciones -->
            <td>
                <div class="acciones">
                    <div th:if="${editingId != p.provinceId}" class="normal">
                        <a class ="editar" th:href="@{/provincias/web(editingId=${p.provinceId})}">Editar</a>
                        <a class="borrar" th:href="@{'/provincias/eliminar/' + ${p.provinceId}}" onclick="return confirm('Seguro que quieres eliminar esta provincia?')">Eliminar</a>

                    </div>
                    <div th:if="${editingId == p.provinceId}" class="edicion">
                        <button type="submit" class="guardar">Guardar</button>
                        <button type="button" class="cancelar" onclick="window.location.href='/provincias/web'">Cancelar</button>
                    </div>
                </div>

            </td>
            </form>
        </tr>
        </tbody>
        </table>
</div>
</body>
</html>