<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/vistaCliente.css}">
    <title>Mi Perfil</title>
</head>
<body>
    <nav>
        <ul>
            <li class ="sesion"><a href="/login">Cerrar Sesión</a></li>
            <li class ="cambiar"><a href="/clientes/cambiar-password">Cambiar Contraseña</a></li>
            <li class="perfil"><a th:href="@{/clientes/editar-perfil/{id}(id=${cliente.clientId})}">Editar Perfil</a></li>
        </ul>
    </nav>
    <div class="pag">
    <h2 class="saludo">HOLA <span th:text="${cliente.name.toUpperCase()}"></span></h2>

    <div class="datos">
        <p class ="personal">Mis datos personales</p>
        <div class="avatar" th:text="${#strings.toUpperCase(#strings.substring(cliente.name, 0, 1)) + #strings.toUpperCase(#strings.substring(cliente.surname, 0, 1))}"></div>
        <p th:text="${'@' + cliente.username}"></p>
        <span class="badge" th:classappend="${cliente.active ? '' : 'badge-off'}">
          <i class="ti ti-check" th:if="${cliente.active}"></i>
          <i class="ti ti-x" th:unless="${cliente.active}"></i>
        <span th:text="${cliente.active ? 'Cuenta activa' : 'Cuenta inactiva'}"></span>
        </span>

        <form th:action="@{/clientes/guardar}" method="post">
            <input type="hidden" name="id" th:value="${cliente.clientId}">

        <p>Nombre: <span th:if="${editingId != cliente.clientId}" th:text="${cliente.name}"></span></p>
        <input th:if="${editingId == cliente.clientId}"
               type="text"
               name="name"
               th:value="${cliente.name}">

<p>Apellidos: <span th:if="${editingId != cliente.clientId}" th:text="${cliente.surname}"></span></p>
        <input th:if="${editingId == cliente.clientId}"
               type="text"
               name="surname"
               th:value="${cliente.surname}">
<p>Usuario: <span th:if="${editingId != cliente.clientId}" th:text="${cliente.username}"></span></p>
        <input th:if="${editingId == cliente.clientId}"
               type="text"
               name="username"
               th:value="${cliente.username}">
<p>DNI: <span th:if="${editingId != cliente.clientId}" th:text="${cliente.nif}"></span></p>
        <input th:if="${editingId == cliente.clientId}"
               type="text"
               name="nif"
               th:value="${cliente.nif}">
            <select th:if="${editingId == cliente.clientId}" name="active">
                <option value="true"  th:attrappend="selected=${cliente.active ? 'selected' : null}">Activo</option>
                <option value="false" th:attrappend="selected=${!cliente.active ? 'selected' : null}">Dar de baja</option>
            </select>
    <br/>
            <p>Gasolinera Favorita: </p>
    <span th:if="${editingId != cliente.clientId}"
          th:text="${cliente.gasStation != null ? cliente.gasStation.name : 'Sin asignar'}">
    </span>
                <select th:if="${editingId == cliente.clientId}"
                        name="gasStationId">
                    <option value="">Sin asignar</option>
                    <option th:each="g : ${gasolineras}"
                            th:value="${g.gasStationId}"
                            th:text="${g.name}"
                            th:selected="${cliente.gasStation != null and cliente.gasStation.gasStationId == g.gasStationId}">
                    </option>
                </select>

            <div th:if="${editingId != null and editingId == cliente.clientId}" class="edicion">
                <button type="submit" class="guardar">Guardar</button>
                <button type="button" class="cancelar" th:onclick="'window.location.href=\'/clientes/perfil/' + ${cliente.clientId} + '\''">Cancelar
                </button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>